<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FreamworkEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=iAnywhere.Data.SQLAnywhere;provider connection string=&quot;UserID=dba;Password=n0paradox;DataSourceName=testKrepo&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>